<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Camforchat - free webcams</title>
</head>
<body>
  <div class="main-wrapper">
    {{template "content"}}
  </div>

  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  {{template "javascripts"}}
</body>
</html>